<nav class="navbar bg-warning fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img [src]="logo" width="50px" alt="" /> Angular
    </a>
    <button
      title="BUTON"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end bg-dark text-white"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Angular</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a
              class="nav-link active text-white"
              aria-current="page"
              (click)="home()"
              >Home</a
            >
            <a class="nav-link active text-white" (click)="catalogo()"
              >Catalogo</a
            >
            <a class="nav-link active text-white" (click)="admin()"
              >Administrador</a
            >
          </li>

          <li class="nav-item">
            <button
              class="nav-link form-control btn btn-warning mt-2"
              (click)="cerrarse()"
            >
              Cerrar Sesion
            </button>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-warning" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>
