<div class="card border-dark mt-5 tabl">
  <div class="card-header bg-dark text-white">Clientes</div>
  <div class="card-body text-warning">
    <h5 class="card-title">Listado de clientes</h5>
    <table *ngIf="isAdmin" class="table table-bordered table-striped">
      <thead class="bg-dark text-white">
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Fechas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.id }}</td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.apellido }}</td>
          <td>{{ cliente.createAt }}</td>
          <!--Impresion de angular moustache -->
        </tr>
      </tbody>
    </table>
    <div *ngIf="isAdmin">admin</div>
    <div>user</div>
    <div class="col-md-4">
      <button (click)="test()" class="form-control bg-dark text-white">
        test
      </button>
    </div>
  </div>
</div>
